.App {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.875rem
}

.wrap {
  white-space: pre-line;
  
}





table.green {
  background-color: #EEF1ED;
  text-align: right;
  border-collapse: collapse;
}
table.green td, table.green th {
  border: 1px solid #AAAAAA;
  padding: 3px 10px;
}
table.green tbody td {
  font-size: 13px;
}
table.green tr:nth-child(even) {
  background: #EBFFE9;
}
table.green thead {
    border-bottom: 2px solid #444444;
}
table.green thead th {
  font-weight: bold;
}
table.green tfoot td {
  font-size: 14px;
}
table.green tfoot .links {
  text-align: right;
}
table.green tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}